# Cargo manifest
# https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "prompt"
description = "Simple y/n prompt."
version = "0.0.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
